.container {
    display:flex;
    justify-content: center;
    background-image: linear-gradient(rgb(97, 182, 210),rgb(237, 183, 101));
    height: 210vw;
    width: 100vw;
    margin-top: 120px;

}

.Carousel {
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 100vw;
    color: black;
    
    justify-content: center;
    
    .CarouselItem{
        position: relative;
        height: 20rem;

        .img{

            border-radius: 15px;
            width: 100vw;
            height: 100vh;
            align-self: center;
            justify-self: center;
            border-radius: 15px;

        }
        .caption{
            align-self: center;
            justify-self: center;

            margin-bottom: 70px;
        }
    }
}
