.picture {
  object-fit: fill;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
}

.row {
  padding: 10%;
}

.primary {
  background-color: rgb(249, 217, 76);
  border: none;
  border-radius: 50px;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  font-weight: 500;
  color: black;
}

.primary:hover {
  background-color: rgb(240, 204, 68);
}

.secondary {
  background-color: rgb(242, 168, 66);
  border: none;
  border-radius: 50px;
  width: 100%;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  font-weight: 500;
  color: black;
}

.secondary:hover {
  background-color: rgb(235, 143, 52);
}
